<div id="sidebar" class="sidebar nobottommargin clearfix" style="position: fixed">
    <div class="sidebar-widgets-wrap">
        <div class="widget widget_links clearfix">
            <h4>Pages</h4>
            <ul>
                <li><a href="#Dyrup">The History of DYRUP</a></li>
                <li><a href="#GroupProfile">Group Profile</a></li>
                <li><a href="#OurMission">Our Mission</a></li>
                <li><a href="#DIYMarket">The DIY Market</a></li>
                <li><a href="#ProfessionalMarket">The Professional Market</a></li>
                <li><a href="#LocalPresence">Local Presence</a></li>
                <li><a href="#PrivacyPolicy">Privacy Policy</a></li>
                <li><a href="#Disclaimer">Disclaimer</a></li>
                
                @*<li>@Html.ActionLink("The History of DYRUP", "Index", "Dyrup")</li>
                <li>@Html.ActionLink("Group Profile", "GroupProfile", "Dyrup")</li>
                <li>@Html.ActionLink("Our Mission", "OurMission", "Dyrup")</li>
                <li>@Html.ActionLink("The DIY Market", "DIYMarket", "Dyrup")</li>
                <li>@Html.ActionLink("The Professional Market", "ProfessionalMarket", "Dyrup")</li>
                <li>@Html.ActionLink("Local Presence", "LocalPresence", "Dyrup")</li>
                <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Dyrup")</li>
                <li>@Html.ActionLink("Disclaimer", "Disclaimer", "Dyrup")</li>*@
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        setSideBarPlace();
    });
    function setSideBarPlace() {
        if ($(document).width() > 975) {
            $("#sidebar").css({ position: 'fixed' });
        } else {
            $("#sidebar").css({ position: 'inherit' });
        }
    }
    $(window).resize(function () {
        setSideBarPlace();
    });
</script>