<div class="sidebar nobottommargin clearfix">
    <div class="sidebar-widgets-wrap">
        <div class="widget widget_links clearfix">
            <h4>Pages</h4>
            <ul>
                <li>@Html.ActionLink("The History of DYRUP", "Index", "Dyrup")</li>
                <li>@Html.ActionLink("Group Profile", "GroupProfile", "Dyrup")</li>
                <li>@Html.ActionLink("Our Mission", "OurMission", "Dyrup")</li>
                <li>@Html.ActionLink("The DIY Market", "DIYMarket", "Dyrup")</li>
                <li>@Html.ActionLink("The Professional Market", "ProfessionalMarket", "Dyrup")</li>
                <li>@Html.ActionLink("Local Presence", "LocalPresence", "Dyrup")</li>
                <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Dyrup")</li>
                <li>@Html.ActionLink("Disclaimer", "Disclaimer", "Dyrup")</li>
            </ul>
        </div>
    </div>
</div>
