@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dyrup - The History of Dyrup";
}


<!-- Content
            ============================================= -->

<section id="page-title">

    <div class="container clearfix">
        <h1>Dyrup</h1>
        <span></span>
    </div>

</section>
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <!-- Sidebar
                ============================================= -->
            @Html.Partial("~/Views/Shared/_DyrupSidebar.cshtml")
            <!-- .sidebar end -->
            <!-- Post Content
                ============================================= -->
            <div id="Dyrup" class="postcontent nobottommargin col_last  col-md-10 clearfix targetedDiv">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>The History of Dyrup</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            In 2008 Dyrup celebrated its’ 80th Birthday. We are happy and proud to announce that we have been able to produce quality paint and wood stain products for 85 years now. For this special occasion, Gert K, Thomsen former director of R&D, recounts his beloved old workplace’s history, he has granted us permission to use his story, here at our new website. We would like to thank Gert for his great work.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/dk_image_Gert_K_Thomsen.jpg" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup was Founded in 1928. During world war one in 1917, the young engineer Sigurd Dyrup was sent to the U.S.A by his employer, he was sent there to obtain raw material and study the production of paint and lacquer. However the submarine blockade prevented him from making the journey back to Denmark, which made him apply for a job in the American color-industry, the young Dyrup soon advanced to vice president at Cook Paint & Varnish Co. in Kansas City.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/dk_image_Klintevej_1928.jpg" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            However Sigurd Dyrup longed for his home country and wanted to bring his skills to use there. In 1924 he returned to Denmark where he and two of his old classmates - Axel Monberg & Ejnar Thorsen, bought a small factory. S. Dyrup & Co A/S was established January 2nd 1928.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/Riveri_Broenshoej_1932.jpg" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup during the 30's. In the U.S.A Sigurd Dyrup had gained groundbreaking knowledge about the latest movements in the development of rust protection, he used this knowledge to develop the innovative product STÅLHUD and introduced it to the Danish market. By 1932 Dyrup became the sole supplier of rust protection for a huge bridge building project called Lillebæltsbroen, and Dyrup had to expand.
                            <br />
                            <br />
                            In 1934 Dyrup bought 120.000 m² of land and built the factory, which is still the main factory in Denmark.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/Medarbejdere_Broenshoej_1931.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup During World War ll. In 1940 Denmark was occupied by Germany, and there was a great shortage of the required raw material in Denmark. The situation called for innovative solutions, and many chemical solvents had to be replaced with water, little did Dyrup know that this change would benefit their production of environmentally friendly products in the future.
                            <br />
                            <br />
                            The Post War Years. When the borders were reopened in 1945, Dyrup was ready to meet new challenges, and that was exactly what Dyrup got - a true export adventure began. The opportunity to build new factories abroad suddenly unfolded, and in 1947 the first Dyrup factory abroad was a reality. Sadly, after many good and hectic years in the business, Sigurd Dyrup became very ill and died in 1949.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/dk_image_Sigurd_Dyrup.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup during the 50s and 60’s. Already in the 1950’s, long before environment issues became a concern of the general public, Dyrup introduced ‘Dyroton’ acrylic paint based on water. In 1958 Dyrup made its first acrylic paint for facades, and followed up in 1968 by making the first water based glossy paint in Europe. The consumption of organic solvents rapidly decreased, and the use of lead in any products was completely eliminated.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/Aabne_gryder_1933.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            After introducing the market to these, more environmentally friendly products. Dyrup became interested in developing even more environmentally friendly products for the consumers.
                            <br />
                            <br />
                            This interest resulted in what we call 0% paint, or paint that is almost 100% free of any dangerous chemicals. All of a sudden it was no longer a problem to paint the children’s rooms.
                            <br />
                            <br />
                            Dyrup during the 70s and the 80s – the Wood Stain Fairytale. Wood stain used to be associated with dangerous chemicals, which could only be used by the industry. In 1969 Dyrup introduced a product that was to revolutionize the wood stain and varnish market: BONDEX.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/dk_image_Saa_skal_der_males.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            The original Bondex was a product for treatment of surfaces, devloped in transparent colors; teak, mahogany, and much more. After just a few years on the market, the new product was a giant success, one year France alone sold as much as 5 million liters. Not one single product has meant as much for Dyrup as Bondex.
                            <br />
                            <br />
                            Dyrup During the 90's. During the 90s there was a change of direction; the industry was not doing well, which resulted in a greater focus on other markets in Europe. In the new millennium, Dyrup continues to increase its competencies, and expertise within specialty products, that meets the costumer’s needs. Especially environmentally friendly products.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/popart.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            I 2009 Dyrup sold our industrial activities and bought the Danish company Hygæa A/S as an important element in the new strategy for Dyrup - Fresh Start - where we grow organicly and through acquisitions in our core activities within DIY and PRO.
                            <br />
                            <br />
                            In 2010 Dyrup bought the Polish company Malfarb to strenghten our position in the Eastern parts of Europe and to broaden our product range further.
                            <br />
                            <br />
                            Today Dyrup is represented by our own subsidiaries in Denmark, France, Poland, Portugal, Spain, Germany and Austria.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/striber.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            In January 2012 – PPG Industries completed the purchase of Dyrup from its owner, Monberg & Thorsen, a public holding company. The final transaction value, including assumed debt, was €115 million ($150 million), subject to customary post-closing adjustments and Dyrup is now a part of PPG Architectual Coatings EMEA. PPG Industries' reported net sales in 2013 were $15.1 billion.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/PPG logo-hist.jpg" />
                    </div>
                </div>

            </div>
            <!-- .postcontent end -->
            
            <!-- Post Content
                ============================================= -->
            <div id="GroupProfile" class="postcontent nobottommargin col_last  col-md-10 clearfix targetedDiv">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>Group Profile</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <h4>Strong brands and a broad range of quality products in paints and wood care made up the Dyrup Group’s core business in the European market.</h4>
                        <p>
                            In January 2012 Dyrup became a part of PPG Industries:
                            <br />
                            <br />
                            PPG Industries' vision is to continue to be the world’s leading coatings and specialty products company. Through leadership in innovation, sustainability and color, PPG helps customers in industrial, transportation, consumer products, and construction markets and aftermarkets to enhance more surfaces in more ways than does any other company. Founded in 1883, PPG has global headquarters in Pittsburgh and operates in nearly 70 countries around the world. Sales in 2012 were $15.2 billion. PPG shares are traded on the New York Stock Exchange (symbol:PPG). For more information, visit <a href="http://www.ppg.com" target="_blank">www.ppg.com</a>.
                            <br />
                            <br />
                            Dyrup manufactures and markets products sold via two primary sales channels:
                            <br />
                            <br />
                            - the DIY market, consisting mainly of paint retailers and builders’ merchants
                            <br />
                            - the professional market (PRO), consisting of wholesalers and professional decorators
                            <br />
                            <br />
                            The DIY market accounted for 52% of revenue in 2009 and the PRO market for 48%. The principal geographical markets are Denmark, France, Germany, Poland and the Iberian Peninsula. These markets account for just approx. 90% of revenue. The remaining revenue comes from other European markets and markets in Asia and Africa, in which Dyrup markets its products through own companies or distributors.
                            <br />
                            <br />
                            Dyrup’s market positions in wood care are particularly strong in Denmark, France and Germany. In paints, Dyrup holds strong positions in Denmark and Portugal, but is continuing its intensive efforts to build up an even stronger profile within paint products.
                            <br />
                            <br />
                            Dyrup’s products are divided into three main groups which are paints, wood care and specialist products. The latter include fillers, damp-proofing products, tools and other paint-related products for professional decorators. Wood care products account for 50% of Dyrup’s revenue. Paint products make up 30%, and specialist products account for the rest. Dyrup places great emphasis on selling products that complement each other, enabling it to offer customers and end users complete solutions.
                            <br />
                            <br />
                            Revenue comes predominantly from own production at Dyrup’s plants in Denmark, France, Poland and the Iberian Peninsula. Bought-in products, primarily consisting of specialist products, make up a small proportion of revenue. Strong brands and product concepts are vital elements of Dyrup’s strategy, with the strategic brands Dyrup, Bondex, GORI and Xylophene accounting for 80% of revenue.
                        </p>
                    </div>
                </div>


            </div>
            <!-- .postcontent end -->
           
            <!-- Post Content
    ============================================= -->
            <div id="OurMission" class="postcontent nobottommargin col_last  col-md-10 clearfix targetedDiv">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>Our mission</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            <h4>"Easy to choose – Easy to use"</h4>
                            It is our mantra that Dyrup’s products and concepts must be easy to use and easy to choose, and that end users, whether professional tradesmen or private consumers, must always be proud of the result.
                        </p>
                        <p>
                            <h4>"Our Mission"</h4>
                            In close partnership with customers, we will continuously develop our category by focusing on helping end users to achieve a successful result every time, as easily as possible.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .postcontent end -->

            <!-- Post Content
                ============================================= -->
            <div id="DIYMarket" class="postcontent nobottommargin col_last  col-md-10 clearfix targetedDiv">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>The DIY market</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup’s customers in the DIY market are paint shops and builders’ merchants, focusing on quality paint products and wood stain, the majority of customers are private end users.
                            <br />
                            <br />
                            The relative size of the DIY markets varies greatly in Dyrup’s markets. In Denmark, Germany and France there is a tradition for DIY, providing a large market. The market for DIY in Spain and Portugal is smaller, albeit growing.
                            <br />
                            <br />
                            In 2007, 43% of the Dyrup Group’s revenue was sold to the DIY market. The size of the overall DIY market is judged to be stable. The DIY market will continue to be a strategic focus area for Dyrup in the future. Competition among Dyrup’s customers in the DIY market is expected to remain intense, accentuating the need for strong brands and innovative products and concepts based on the end users’ needs.
                            <br />
                            <br />
                            In 2009, Dyrup will continue its intensified marketing and roll-out of innovative products, marketing a whole new line of wood care products in collaboration with DuPont™ containing Teflon®. Also, to intensify Dyrups competing ability on the DIY market, Dyrup has made a whole new strategic approach to the costumers, we call it "Easy to Choose, Easy to Use".
                        </p>
                    </div>
                </div>
            </div>
            <!-- .postcontent end -->
            
            <!-- Post Content
            ============================================= -->
            <div id="ProfessionalMarket" class="postcontent nobottommargin col_last  col-md-10 clearfix targetedDiv">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>The Professional Market</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup sells to the professional market through its own paint centres, independent wholesalers specialising in paints and builders’ merchants catering for the building trade, focusing on high quality paint products, wood stain, top coats, and interior as well as exterior decoration. The end users are professional decorators.
                            <br />
                            <br />
                            The professional market accounted for 48% of Dyrup’s revenue in 2009. Dyrup sells to the PRO market through wholesalers specialising in paints, builders' merchants focusing on the building trade and own paint centres in the Danish and Portuguise market. The downturn in the building sector has had the greatest impact on the PRO market, which is directly dependent on the level of building activity. Overall, this market is estimated to have fallen back by around 12% in 2009.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .postcontent end -->
            
            <!-- Post Content
            ============================================= -->
            <div id="LocalPresence" class="postcontent nobottommargin col_last  col-md-10 clearfix targetedDiv">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>Local Presence</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup produces high quality paint and wood care products to everyone in Europe. Dyrup has its own subsidiaries on 9 different markets throughout Europe, as well as Dyrup markets its products through a wide selection of markets in- and outside of Europe. Dyrup also has quite a few license agreements.
                            <br />
                            <br />
                            The Group's activities are concentrated in Europe, where Dyrup has a presence in most markets. Dyrup enjoys a particularly strong position in wood care, where the large markets are Denmark, France and Germany, and in paints in Denmark and Portugal.
                            <br />
                            <br />
                            Dyrup's principal sales channels are the DIY retail trade, the professional trade, and industrial customers. Sales ratio is dispersed as such:
                            <br />
                            <br />
                            DIY accounts for approximately 52% of Dyrup’s revenue
                            Professional trade for approximately 48% of Dyrup’s revenue
                            Wood care and other solutions for outdoor applications account for approx. 50% of revenue
                            <br />
                            <br />
                            Sales: Denmark, Germany, Austria, Portugal, Spain, France and Poland. Dyrup distributes to more than 20 countries world wide, to see the full distributor list, click below;
                            <br />
                            <a href="#">Dyrup list of distributors</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- .postcontent end -->
            
            <!-- Post Content
            ============================================= -->
            <div id="PrivacyPolicy" class="postcontent nobottommargin col_last  col-md-10 clearfix targetedDiv">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>Privacy Policy</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Here you will find information on the data collected when you use Dyrup.com, why we collect it, and how we use it to improve your user experience, and how Dyrup protects your personal data.
                            <br />
                            <br />
                            The purpose of Dyrup.com is to provide information about Dyrup and our products, activities and services. Dyrup.com is owned and maintained by Dyrup A/S, Gladsaxevej 300, 2860 Søborg ("Dyrup").
                        </p>
                        <p>
                            <b>Cookies</b><br />
                            Cookies are small data files which are transferred from Dyrup.com to the hard drive on your computer. The cookies used on Dyrup.com are secure, do not contain virus and cannot be used for passing on, or storing, personal information. Cookies are normally classified as either "session cookies" or "permanent" cookies.
                        </p>
                        <p>
                            <em>
                                <u>"Session cookies" </u>do not remain on your computer when you leave the website or close the browser. All information collected enables Dyrup to analyse traffic patterns on Dyrup.com. Over time, this enables us to give our visitors a better experience on Dyrup.com by continuously improving the content, adjusting the website and making it easier to use.
                            </em>
                        </p>
                        <p>
                            <em>
                                <u>"Permanent" cookies" </u>remain on your computer when you leave Dyrup.com. Dyrup uses permanent cookies to analyze whether the visitors return – it shows whether the users see Dyrup.com as helpful, useful and as generating value.
                            </em>
                        </p>
                        <p>You can refuse to use cookies on your computer by choosing the relevant settings in your browser. Below you will find information links to the two most used browsers. </p>
                        <p>
                            <a href="http://www.microsoft.com/info/cookies.htm" target="_blank" onclick="_gaq.push(['_trackEvent', 'External links', 'Click', 'www.microsoft.com/info/cookies.htm'])">Microsoft Internet Explorer<br></a>
                            <a href="http://www.mozilla.org/projects/security/pki/psm/help21/using_privhelp.html" target="_blank" onclick="_gaq.push(['_trackEvent', 'External links', 'Click', 'www.mozilla.org/projects/security/pki/psm/help21/using_privhelp.html'])">Mozilla Firefox</a>
                        </p>
                        <p>Please be aware that&nbsp;by rejecting&nbsp;cookies you may not be able to use all functions on Dyrup.com</p>
                        <p>
                            <strong>Google Analytics</strong> <br>Dyrup.com uses Google Analytics, which is a web analysis tool developed by Google, Inc. ("Google"). Google Analytics uses cookies (see below) to help Dyrup.com to analyze how our visitors use Dyrup.com in order to improve the website and optimize the user experience thus ensuring that the content is relevant and accessible. For this purpose your conduct is registered when you visit Dyrup.com to read about our products and user instructions, or download a brochure or project guide. The data collected by the cookie regarding your use of the website (traffic data, including your IP address), is only used in statistical and aggregate form. The data in question is sent to and stored on Google’s servers in USA.
                        </p>
                        <p>Google uses the collected data to evaluate the use of Dyrup.com and to prepare reports on the activities on Dyrup.com and other services in connection with the use of the website and the Internet. Google can also pass on information to a third party if required by law or if such third party processes the information on behalf of Google. You can see further details on how Google handles collected data here:</p>
                        <p>
                            <a href="http://www.google.com/intl/da_ALL/privacy/privacy-policy.html" target="_blank" onclick="_gaq.push(['_trackEvent', 'External links', 'Click', 'www.google.com/intl/da_ALL/privacy/privacy-policy.html'])">Google Privacy Policy</a>
                        </p>
                        <p>
                            <strong>Collection and storage of personal data<br></strong>Dyrup seldomly collects and stores personal data. This only takes place if you choose to contact Dyrup’s Technical Service through Dyrup.com. In this case the registered data will be deleted as soon as your inquiry has been answered. Furthermore, you may be asked to give personal information if you wish to participate in an online competition made available through Dyrup.com. In this case Dyrup will only store your data for as long as it takes to complete the competition. When the competition has been completed, all personal data provided by you will be deleted.
                        </p>
                        <p>All data collected and registered by Dyrup is treated as confidential by Dyrup, and such data will not be assigned or otherwise made available to any third party.</p>

                    </div>
                </div>
            </div>
            <!-- .postcontent end -->
            
            <!-- Post Content
            ============================================= -->
            <div id="Disclaimer" class="postcontent nobottommargin col_last  col-md-10 clearfix targetedDiv">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>Disclaimer</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>The purpose of this website is to provide information about Dyrup and our products, activities and services. The website is developed, owned and maintained by Dyrup A/S, Gladsaxevej 300, 2860 Søborg ("Dyrup").</p>
                        <p>
                            <strong>Material etc. on Dyrup.com<br></strong>The material and content on Dyrup.com is the property of Dyrup or is licensed to Dyrup by the owners hereof.
                        </p>
                        <p>Text, photographs, films, drawings, graphics, sound and data as well as products and production methods described on Dyrup.com may be subject to copyright protection or other intellectual property right protection, including patent right, utility model right or design right protection. </p>
                        <p>The reproduction or use of the content and material on Dyrup.com in whatever form or in whatever way is prohibited, except for personal, non-commercial use, and only on condition that Dyrup’s rights are respected and not modified.&nbsp;&nbsp; </p>
                        <p>Trademarks, including logos, slogans etc., are registered or non-registered trademarks belonging or licensed to Dyrup.</p>
                        <p>No license or permission is given to reproduce or use any of the intellectual property rights presented on Dyrup.com for any other purposes than usual web browsing. </p>
                        <p>
                            <strong>Liability disclaimer</strong>
                            <br>Information on Dyrup.com is provided without any kind of warranty. The website is intended to serve for general information purposes only. By using Dyrup.com you accept these conditions. Dyrup cannot give any warranty as to the accuracy or completeness of the information or that the information meets all your requirements.
                        </p>
                        <p>If Dyrup.com provides a reference or possibility to link to other websites, Dyrup accepts no liability for the material provided on such websites, and Dyrup will not supervise these websites or the material or information provided hereon. If a possibility is provided to link to Dyrup.com from other websites, Dyrup has – unless specifically stated – not approved the link or any other material contained on the website from where the link to Dyrup.com is provided.</p>
                        <p>Dyrup disclaims any liability for direct or indirect loss or damages due to your use of Dyrup.com, or that you open or browse other websites which Dyrup.com provides links to, or use material contained on these websites. This liability disclaimer applies notwithstanding the reasons for such loss and regardless whether Dyrup could or should have anticipated such loss or damages, including the risk for such loss or damages by not removing a link from Dyrup.com or otherwise. The limitation of liability also applies to damage caused by virus on your computer.</p>
                        <p>This disclaimer and the content on Dyrup.com are governed by Danish law without consideration of international private law. Any dispute arising out of the use of Dyrup.com or any material or information derived from this website shall, if it cannot be solved amicably, exclusively be submitted to and finally be resolved by the competent Court in Copenhagen, Denmark.</p>
                    </div>
                </div>
            </div>
            <!-- .postcontent end -->
        </div>
    </div>
</section><!-- #content end -->